@import "variables";
@import "reset";
@import "classes";
@import "media-queries";
@import "utils";
@import "base";

.header {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
  max-height: 48px;

  & div {
    display: flex;
    align-items: center;
  }
  .menu-content {
    padding: 12px 16px;
  }

  .list-header {
    display: flex;
    align-items: center;

    &__el {
      & a {
        font-size: 1.2rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        color: var(--color-gris);
      }
      &--l {
        padding: 0px 8px;
        margin-right: 8px;
      }

      &--r {
        padding: 8px;
      }
      &--r2 {
        padding: 4px;
      }
    }
  }
}

.main {
  padding-top: 20px;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  align-items: center;

  .logo-content {
    width: 160px;
    height: 72px;
    margin: 36px auto 18px auto;
  }
}
